.hidden {
	display: none;
}

/* start page */
.title-page {
	margin-top: 200px;
}
.start-button {
	border: 1px solid grey;
	height: 100px;
	width: 400px;
	text-align: center;
	background-color: 
}


/* question section */
.question {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}
.question-number {
	font-size: 20px;
	font-weight: bold;
	text-align: left;
}
.question-text {
	font-size: 20px;
	font-style: normal;
	font-weight: lighter;
}
.btn-lg {
	width: 150px;
	border: 1px solid grey;
}


.wrong-answer {
	background-color: red;
}

.question-section {
	margin-top: 200px;
}


/*need to change this to a class*/
p {
	margin-top: 12px;
	margin-bottom: auto;
}

/* score */
.glyphicon-heart {
	font-size: 45px;
	color: red;
}

.score-div {
	margin-top: 50px;
	margin-right: 10px;
	width: 150px;
	float: right;
	text-align: right;
}
/* better name */
.scoreJawnt {
	margin-top: 5px;
	margin-bottom: 0px;
	font-size: 16px;
	text-align: center;
}