html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
ul {
	list-style-type: none;
}
li {
	display: block;
}
.question-display, .quiz-title , .start-game{
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}
.hidden {
	display: none;
}